<!DOCTYPE html>

<html>                                                                
<head>
<title>LinkGame 0.1</title>
<!-- <link rel="stylesheet" href="/site_media/style.css"> -->
<link type="text/css" href="/trek/site_media/game.css" rel="Stylesheet" />	

<script type='text/javascript' src='http://www.google.com/jsapi'></script>


<script type="text/javascript" src="/trek/site_media/jqueryui/js/jquery-1.4.2.min.js"></script>
<link type="text/css" href="/trek/site_media/jqueryui/css/ui-lightness/jquery-ui-1.8.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/trek/site_media/jqueryui/js/jquery-ui-1.8.custom.min.js"></script>


</head>                                                                 

<body>                                                                  

<div class="title">
<h1>ConceptTrek 0.1</h1>
  </div>

<div class="nav">
<ul>
{% if user.is_authenticated %}
<li class="rightI"><a href="/accounts/logout/?next=/trek/newgame/" class="menu">Logout</a></li>
<li class="rightI"><a href='/trek/user/{{ user.username}}/' class="menu">Profile</a></li>
<li class="rightI"><span id="navtext">Points: {{ user.get_profile.points }}</span></li>
<li class="rightI">
<span id="navtext">{{ user.username }}</span>
</li>
{% else %}
<li class="rightI"><a href="/accounts/login/?next=/trek/newgame/" class="menu">Log In</a></li>
{% endif %}

<li class="leftI"><a href="/trek/" class="menu">Home</a></li>
<li class="leftI"><a href="/trek/newgame/" class="menu">Play</a></li>
</ul>
</div>



