
{% include 'base.html' %}

<div id="visuals" class="visual">
  <canvas id="canvas" width="500" min-height="400">Visualizes your path in the game.</canvas>
</div>



<div id="userControls">
<div class="text">
  Try to find a connection between <span class="concept"> {{ concept1 }} </span> and <span class="concept">
  {{ concept2 }} </span>.
</div>

<div id="linkslist">

</div>

<div class="form">
  <form name="linkForm" id="linkForm" action="" method="" >
  <span class="concept" name="concept1" id="concept1">{{ concept1 }}</span>
  <!-- <select name="relation" id="relationsMenu" required="true">
  </select>-->
  <input type="text" name="relation" id="relationsMenu"
  required="true" />
  <button id="relationsMenuB" type=""></button>
  <input type="text" name="concept2" id="concept2" class="conceptBox" required="true" />
  <button name="submitButton" id="linkButton" type="submit">Submit</button>
  <img src="/trek/site_media/loader.gif" id="loading" alt="Searching ConceptNet">
  </form>
</div>

<button action="" method="" name="getConceptsButton"
id="getConceptsButton" type="submit">Get New Concepts</button>
<br />
<span class="text" name="numLinks" id="numLinks">You used <span
id="linksVal">0</span> links</span> <br />
<span class="text" name="points" id="points">You have <span
id="pointsVal">0</span> points. </span>

</div>

<div id='chart_div'></div>

  
</body>                                                                 
</html>








<script type="text/javascript" src="/trek/site_media/game.js"></script>
<script type="text/javascript">


//Global Variables

///Game Constants
var upperThresh = 8;
var midThresh = 2;
var lowThresh = 0;

///Starting Game Variables
var startConcept = '{{ concept1 }}';
var endConcept = '{{ concept2 }}';
var usedLinks = 0;
var points = 0;
var cnetRelations = new Array();
var cnetRelationsD = {};

///URLS
var cnurl = "/api/en";



//Gets Relations from view
{% for relationInfo in relationsList %}
	cnetRelations.push('{{ relationInfo.1.0 }}') 
	cnetRelationsD['{{ relationInfo.1.0 }}'] = '{{ relationInfo.0 }}'    //Maps natural language relation to CNet Relation name
{% endfor %}




//Fires when the main game form is submitted
function linkSubmit() {
	//Grabs info from form
	var concept1 = $("#concept1").text().toLowerCase();
  	var concept2 = $("input#concept2").val().toLowerCase();
  	var relation = $("input#relationsMenu").val();

	//Validate form
	if (concept1 == "") {
		//Do something if concept1 is blank
		//Maybe $("label#name_error").show();
	}
	
	if (concept2 == "") {
 		//Do something if concept2 is blank
  	}
  	
  	if (relation == "") {
 		//Do something if relation is blank 	
  	}
  	
  	

	//Get the CNet form of the relation, if its an official CNet relation
	var relCN = "";
	relCN = cnetRelationsD[relation];
//	if (cnetRelationsD.hasKey(relation)) {
//		rel = cnetRelationsD[relation];
//	} else {
//		rel = relation;
//	}
	
	
	
	msg = "";
	var score = 0;
	var points = 0;
	var inCnet = false;
	
	$("#loading").show();
	$("#linkButton").button( "option", "disabled", true );
	$.ajax({
		url:cnurl + '/assertionfind/' + relCN + '/' + concept1 + '/' + concept2 + '/',
		type: 'get',
        async: true,
        dataType: 'json',
        success: function(data, status, x) {
        	if (data == '[]' || data == 'Not Found') {
        			//Assign points
	    			points = 5;
	    			inCnet = false;		
			} else {               		
               	var assertion = data[0];
               		
               	//If the Assertion IS in ConceptNet	
               	if (assertion != null) {
               	
               		//Get the score on cnet
	    			score = assertion.score;
	    			
	    			//Figure out how many points to assign based on rarity
	    			if (parseInt(score) >=  upperThresh) {
	  		 			points = 1;
	  				} else if (parseInt(score) >= midThresh) {
	  					points = 2;
	  				} else if (parseInt(score) >= lowThresh) {
	  					points = 3;
	  				} else {
	  					points = 1;
	  				}
	    			
	    			inCnet = true;
	    				  		
  				//If the Assertion IS NOT in ConceptNet		
	    		} else {
	    			//Assign points
	    			points = 5;
	    			inCnet = false;
	    			
	   	 		}
	   	 	}
        		
        },
        error: function() {
	    		//Assign points
	    		points = 5;
	    		inCnet = false;
	     		
	     		
        },
        complete: function() {
        	claimed = false;
        	user = "unknown";
        	
        	if (inCnet == true) {
        	
        		msg = concept1 + " " + relation + " " + concept2 + ": Score is " + score + " on ConceptNet";
     			msg = msg + "<br />"
        		
        		
        		
        		//Set the next left concept to the form right concept
		    	$("#concept1").text(concept2);
        		
        		//Add the following link info to the display
	    		addLink(msg);
    	    	
    	    	//Update the points 
    	    	assignPoints(points)
	    		$("#pointsVal").text(points);
	    		
	    		//Draw the concept on the visual	
	     		draw(concept2);
	    		
	    		$("#loading").hide()
	    		
	    		//Winning the game...the second concept equals the target concept
			  	if (concept2 == endConcept.toLowerCase()) {
  					var str = "You found a connection! Thanks for your contribution.";
					$("#linkButton").button( "option", "disabled", true );
					userWins($("#pointsVal").text());
				} else {
			
					$("#linkButton").button( "option", "disabled", false );
			
				}
	    		
        	} else {
        	
        		//It wasn't in ConceptNet...now check links people have created 
        		$.ajax({
					url:'claimed/' + '?c1=' + concept1 + '&c2=' + concept2 + '&relation=' + relCN + '&use=true',
					type: 'get',
        			async: true,
        			success: function(data, status, x) {
        				points = 1
        				claimed = true;
        				user = data;
        			},
        			error: function() {	
        				claimed = false;
        			},
        			complete: function() {
        			
        				console.log(claimed);
        				if (claimed == true) {
        		
        					msg = concept1 + " " + relation + " " + concept2 + ": link created by " + user;
        		
		        		} else {
        			
        					msg = concept1 + " " + relation + " " + concept2 + ": Not found in ConceptNet";
	     					msg = msg + "<span class='claim'> <a href='#null' onClick=\"claim('" + concept1 + "','" + relCN + "','" + concept2 + "');\">" + "Claim Link" + "</a></span>";
        		
        				}
        				
        				
        				
        				msg = msg + "<br />"
        		
        		
        		
        				//Set the next left concept to the form right concept
				    	$("#concept1").text(concept2);
        		
        				//Add the following link info to the display
	    				addLink(msg);
    	    	
    	    			//Update the points 
		    	    	assignPoints(points)
	    				$("#pointsVal").text(points);
	    		
			    		//Draw the concept on the visual	
	    		 		draw(concept2);
	    		
	    				$("#loading").hide()
	    		
			    		//Winning the game...the second concept equals the target concept
					  	if (concept2 == endConcept.toLowerCase()) {
  							var str = "You found a connection! Thanks for your contribution.";
							$("#linkButton").button( "option", "disabled", true );
							userWins($("#pointsVal").text());
						} else {
			
							$("#linkButton").button( "option", "disabled", false );
			
						}
					}
        		});
        		
        	}
        	
        
	        
        }
        
        
    });

	
	
	

	return false;
	
			
}








$(document).ready(function(){

	///////UI Related
	
	//jQuery UI
  	$('#linkButton').button();	
  	$("#linkButton").click(linkSubmit) 
  	
  	
	$('#getConceptsButton').button();
  	$("#relationsMenu").autocomplete({source: cnetRelations, delay: 0});
  	$("#relationsMenuB").button({icons: { primary: "ui-icon-triangle-1-s"}, text: false});

	//Sets up AutoComplete button
  	$("#relationsMenuB").click(function() {
  					// close if already visible
					if ($("#relationsMenu").autocomplete("widget").is(":visible")){
   						$("#relationsMenu").autocomplete("close");
					}
					// pass empty string as value to search for, displaying all results
					$("#relationsMenu").autocomplete("search", " ");
					$("#relationsMenu").focus();
  					return false; //So that the form does not submit
					});

  	//Positions AutoComplete button
  	$("#relationsMenuB").position({ my: "left center", at: "right center", of: $("#relationsMenu"), offset: "-1 0"}).css("top", "").addClass("ui-corner-right ui-button-icon");
	$("#relationsMenuB").height($("#relationsMenu").height());
  
  
  	$("#loading").hide();
  	
  	//Draws the first concept in the canvas
  	draw('{{ concept1 }}');

}); 



function assignPoints(p) {
  	points = points + p;
}

function getPointValue(score) {
  	return 1;
}


function addLink(str) {
	$("#linkslist").append(str);
    usedLinks = usedLinks + 1;
    $("#linksVal").text(usedLinks);
}


  

</script>

  <script type="text/javascript">

  var lastx = (500 / 2);
  var lasty = 2.5;
  var drawArrow = false;
  
  function draw(str){
  var canvas = document.getElementById("canvas");
  var paddingW = 20;
  var paddingH = 20;
  var cvWidth = $("#canvas").width();

  if (canvas.getContext){  
  var ctx = canvas.getContext("2d");
  ctx.textAlign = "center";
  ctx.lineWidth = 1.0;
  ctx.textBaseline = "middle";
  ctx.font = "1em sans-serif";
  ctx.lineJoin = "round";
  //ctx.fillText('{{ concept1 }}', 60, 60);
  // ctx.beginPath();  
  // ctx.arc(75,75,50,0,Math.PI*2,true); // Outer circle  
  // ctx.stroke();   


  var metrics = ctx.measureText(str);
  var nodeWidth = metrics.width + paddingW;
  var nodeHeight = 30;

  if (drawArrow == true) {

  var arrowLength = lasty + 30;

  ctx.beginPath();
  ctx.moveTo(lastx, lasty);
  ctx.lineTo(lastx, arrowLength);
  ctx.lineTo(lastx + 5, arrowLength - 5);
  ctx.moveTo(lastx - 5, arrowLength - 5);
  ctx.lineTo(lastx, arrowLength);
  ctx.stroke();
  ctx.closePath();

  lasty = arrowLength + 6;

}

  draw_node(ctx, lastx-(nodeWidth/2), lasty, nodeWidth, nodeHeight);
  ctx.fillText(str, lastx+(nodeWidth/2)-(nodeWidth/2), lasty+(nodeHeight/2));
  lastx = lastx;
  lasty = lasty + nodeHeight;

drawArrow = true;
  } else {  
  // canvas-unsupported code here  
  }  }


  function draw_node(context, x, y, width, height) {
  context.strokeRect(x, y, width,  height );
  };
  </script>