
{% include 'base.html' %}


<div id="start">
	<span>
  Try to find a connection between <span class="concept"> {{ concept1 }} </span> and <span class="concept">
  {{ concept2 }} </span>.
  	</span>
  <button action="" method="" name="getConceptsButton" id="getConceptsButton" type="submit">Get New Concepts</button>
</div>



<div id="nodebox" class="visual"></div>




<div id="userControls">


<div class="form">
  <form name="linkForm" id="linkForm" action="" method="" >
  <span class="concept" name="concept1" id="concept1">{{ concept1 }}</span>
  <!-- <select name="relation" id="relationsMenu" required="true">
  </select>-->
  <input type="text" name="relation" id="relationsMenu"
  required="true" />
  <button id="relationsMenuB" type=""></button>
  <input type="text" name="concept2" id="concept2" class="conceptBox" required="true" />
  <button name="submitButton" id="linkButton" type="submit">Submit</button>
  <img src="/trek/site_media/loader.gif" id="loading" alt="Searching ConceptNet">
  </form>
</div>


<br />






<div id="pointsBox">

<span class="text" name="numLinks" id="numLinks">Links Used: 
	<span id="linksVal">0</span>
</span>

<span class="text" name="points" id="points">Score: 
	<span id="pointsVal">0</span> 
</span>

</div>

<div id="linkslist">

</div>

</div>


  
</body>                                                                 
</html>








<script type="text/javascript" src="/trek/site_media/game.js"></script>
<script type="text/javascript">


//Global Variables

///Game Constants
var upperThresh = 8;
var midThresh = 2;
var lowThresh = 0;

///Starting Game Variables
var startConcept = '{{ concept1 }}';
var endConcept = '{{ concept2 }}';
var usedLinks = 0;
var points = 0;
var cnetRelations = new Array();
var cnetRelationsD = {};

///URLS
var cnurl = "/api/en";



//Gets Relations from view
{% for relationInfo in relationsList %}
	cnetRelations.push('{{ relationInfo.1.0 }}') 
	cnetRelationsD['{{ relationInfo.1.0 }}'] = '{{ relationInfo.0 }}'    //Maps natural language relation to CNet Relation name
{% endfor %}




//Fires when the main game form is submitted
function linkSubmit() {
	//Grabs info from form
	var concept1 = $("#concept1").text().toLowerCase();
  	var concept2 = $("input#concept2").val().toLowerCase();
  	var relation = $("input#relationsMenu").val();

	//Validate form
	if (concept1 == "") {
		//Do something if concept1 is blank
		//Maybe $("label#name_error").show();
	}
	
	if (concept2 == "") {
 		//Do something if concept2 is blank
  	}
  	
  	if (relation == "") {
 		//Do something if relation is blank 	
  	}
  	
  	

	//Get the CNet form of the relation, if its an official CNet relation
	var relCN = "";
	if (relation in cnetRelationsD) {
		relCN = cnetRelationsD[relation];
	} else {
		relCN = relation;
	}
	
	
	
	msg = "";
	var score = 0;
	var newpoints = 0;
	var inCnet = false;
	
	$("#loading").show();
	$("#linkButton").button( "option", "disabled", true );
	$.ajax({
		url:cnurl + '/assertionfind/' + relCN + '/' + concept1 + '/' + concept2 + '/',
		type: 'get',
        async: true,
        dataType: 'json',
        success: function(data, status, x) {
        	if (data == '[]' || data == 'Not Found') {
        			//Assign points
	    			points = 5;
	    			inCnet = false;		
			} else {               		
               	var assertion = data[0];
               		
               	//If the Assertion IS in ConceptNet	
               	if (assertion != null) {
               	
               		//Get the score on cnet
	    			score = assertion.score;
	    			
	    			//Figure out how many points to assign based on rarity
	    			if (parseInt(score) >=  upperThresh) {
	  		 			newpoints = 1;
	  				} else if (parseInt(score) >= midThresh) {
	  					newpoints = 2;
	  				} else if (parseInt(score) >= lowThresh) {
	  					newpoints = 3;
	  				} else {
	  					newpoints = 1;
	  				}
	    			
	    			inCnet = true;
	    				  		
  				//If the Assertion IS NOT in ConceptNet		
	    		} else {
	    			//Assign points
	    			newpoints = 5;
	    			inCnet = false;
	    			
	   	 		}
	   	 	}
        		
        },
        error: function() {
	    		//Assign points
	    		newpoints = 5;
	    		inCnet = false;
	     		
	     		
        },
        complete: function() {
        	claimed = false;
        	user = "unknown";
        	
        	if (inCnet == true) {
        	
        		msg = concept1 + " " + relation + " " + concept2 + ": Score is " + score + " on ConceptNet";
     			msg = msg + "<br />"
        		
        		
        		
        		//Set the next left concept to the form right concept
		    	$("#concept1").text(concept2);
        		
        		//Add the following link info to the display
	    		addLink(msg);
	    		
    	    	//Update the points 
    	    	assignPoints(newpoints)
	    		$("#pointsVal").text(points);
	    		
	    		
	    		
	    		$("#loading").hide()
	    		
	    		//Winning the game...the second concept equals the target concept
			  	if (concept2 == endConcept.toLowerCase()) {
  					var str = "You found a connection! Thanks for your contribution.";
					$("#linkButton").button( "option", "disabled", true );
					userWins($("#pointsVal").text());
					
					drawEnd(concept2, usedLinks);
				} else {
					//Draw the concept on the visual	
	     			draw(concept2, usedLinks);
					$("#linkButton").button( "option", "disabled", false );
			
				}
	    		
        	} else {
        	
        		//It wasn't in ConceptNet...now check links people have created 
        		$.ajax({
					url:'claimed/' + '?c1=' + concept1 + '&c2=' + concept2 + '&relation=' + relCN + '&use=true',
					type: 'get',
        			async: true,
        			success: function(data, status, x) {
        				newpoints = 1
        				claimed = true;
        				user = data;
        			},
        			error: function() {	
        				newpoints = 3;
        				claimed = false;
        			},
        			complete: function() {
        			
        				if (claimed == true) {
        		
        					msg = concept1 + " " + relation + " " + concept2 + ": link created by " + user;
        		
		        		} else {
        			
        					msg = concept1 + " " + relation + " " + concept2 + ": Not found in ConceptNet";
	     					msg = msg + "<span class='claim' id='claim" + usedLinks + "'> <a href='#null' onClick=\"claimLink('" + concept1 + "','" + relCN + "','" + concept2 + "','" + usedLinks + "');\">" + "Claim Link" + "</a></span>";
        		
        				}
        				
        				
        				
        				msg = msg + "<br />"
        		
        		
        		
        				//Set the next left concept to the form right concept
				    	$("#concept1").text(concept2);
        		
        				//Add the following link info to the display
	    				addLink(msg);
    	    	
    	    			//Update the points 
		    	    	assignPoints(newpoints)
	    				$("#pointsVal").text(points);
	    		
	    				$("#loading").hide()
	    		
			    		//Winning the game...the second concept equals the target concept
					  	if (concept2 == endConcept.toLowerCase()) {
  							var win = "You found a connection! Thanks for your contribution.<br />";
  							addMsg(win)
							$("#linkButton").button( "option", "disabled", true );
							userWins($("#pointsVal").text());
							drawEnd(concept2, usedLinks);
						} else {
						//Draw the concept on the visual	
	     					draw(concept2, usedLinks);
							$("#linkButton").button( "option", "disabled", false );
			
						}
					}
        		});
        		
        	}
        	
        
	        
        }
        
        
    });

	
	
	

	return false;
	
			
}



function claimLink(concept1, relation, concept2, l) {
	claim(concept1, relation, concept2);

			$("#claim"+l).text("Claimed");
		
	return false;

}




$(document).ready(function(){

	///////UI Related
	
	//jQuery UI
  	$('#linkButton').button();	
  	$("#linkButton").click(linkSubmit) 
  	
  	
	$('#getConceptsButton').button();
  	$("#relationsMenu").autocomplete({source: cnetRelations, delay: 0});
  	$("#relationsMenuB").button({icons: { primary: "ui-icon-triangle-1-s"}, text: false});


	$("#getConceptsButton").click(function() { location.reload();});
	
	//Sets up AutoComplete button
  	$("#relationsMenuB").click(function() {
  					// close if already visible
					if ($("#relationsMenu").autocomplete("widget").is(":visible")){
   						$("#relationsMenu").autocomplete("close");
					}
					// pass empty string as value to search for, displaying all results
					$("#relationsMenu").autocomplete("search", " ");
					$("#relationsMenu").focus();
  					return false; //So that the form does not submit
					});

  	//Positions AutoComplete button
  	$("#relationsMenuB").position({ my: "left center", at: "right center", of: $("#relationsMenu"), offset: "-1 0"}).css("top", "").addClass("ui-corner-right ui-button-icon");
	$("#relationsMenuB").height($("#relationsMenu").height());
  
  
  	$("#loading").hide();
  	
  	//Draws the first concept in the canvas
  	draw('{{ concept1 }}', usedLinks);
  	$("#canvas").hide();

}); 



function assignPoints(p) {
  	points = points + p;
}

function getPointValue(score) {
  	return 1;
}


function addLink(s) {
	addMsg(s);
    usedLinks = usedLinks + 1;
    $("#linksVal").text(usedLinks);
}

function addMsg(s) {
	$("#linkslist").prepend(s);
}

function draw(s, n) {
	$("#nodebox").append("<span id='c"+n+"' class='cnode'>"+s+"</span>");
	draw_arrow(n);
	
}

function drawEnd(s, n) {
	$("#nodebox").append("<span id='c"+n+"' class='winnode'>"+s+"</span>");
}



function draw_arrow(n){
	$("#nodebox").append("<img id='r" + n + "' class='rnode'src='/trek/site_media/arrow.png' alt='relation'>");
}
  

</script>

