.visual {
border-color: #999999;
height: 100px;
min-height: 100px;
padding: 10px;
border-style: solid;
border-width: 1px;
margin-left:auto;
margin-right:auto;
width: 60%;
margin-bottom:10px;
text-align: left;
margin-top:10px;
vertical-align: top;
}

.login {
margin-left:auto;
margin-right:auto;
width:50%;
text-align:left;
margin-top:10px;
margin-bottom:10px;
}



.title h1 {
padding: 5px;
margin-bottom:0px;
color: #3599d7;
}


#canvas {
border-style:solid;
border-width:1px;
}

#start {
min-height: 30px;
margin-left: auto;
margin-right: auto;
width: 60%;
text-align: left;

}

#start span {
vertical-align: top;
}

#userControls {
margin-left: auto;
margin-right: auto;
width: 60%;
text-align: left;
}

.nav {
min-height: 32px;
border-bottom-color: #54651f;
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: #546520;
border-top-style: solid;
border-top-width: 1px;
margin-left: 0px;
margin-bottom: 20px;
margin-right: 0px;
margin-top: 0px;
background-color: #98bf21;
width:100%;
}

.nav ul
{
margin: 0;	
padding: 0;
list-style-type:none;
overflow:hidden;
}

a.menu:link, a.menu:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding: 4px;
text-decoration:none;
text-transform:uppercase;
display:block;
}

a.menu:hover, a.menu:active
{
padding: 4px;
background-color: #7a991a;
text-decoration: underline;
display:block;
}

.nav li.rightI {
padding: 4px;
display:inline;
float:right;
display:block;
}

.nav li.leftI {
padding: 4px;
display:inline;
float:left;
display:block;
}

.nav #navtext { 
font-weight: bold; 
text-transform: uppercase; 
color: white; 
padding: 4px;
display:inline;
float:right;
display:block;

}

.form {


	text-align: center;


}


body {font-size: 1em; margin-right: 0px; margin-left: 0px; background-color:#ffffff; 
      font-family: Helvetica, Verdana, Arial, sans-serif;} 

.concept { font-weight: bold; color: #e35a37; text-transform:capitalize; }

.cnode { border-color: #fbcb09; border-style: solid; border-width: 1px; padding: 5px; z-index: 0; margin-right: 5px; background-color: #fdf5ce; border-radius: 1.6px; vertical-align: top;}
.winnode { border-color: #81a12c; border-style: solid; border-width: 1px; padding: 5px; z-index: 0; margin-right: 5px; background-color: #bbeb3e; border-radius: 1.6px; vertical-align: top;}
.rnode { margin: 2px; z-index: 0; background-color: #ffffff; height: 20px;vertical-align: top;}
.rightE { }

#getConceptsButton { float: right; vertical-align: bottom;}
#pointsBox { padding: 5px; text-align: center; margin-right: auto; margin-left: auto; background-color: #5c8996; }
#numLinks, #points { color: white; padding-right: 5px; padding-left: 5px; }
#linksVal, #pointsVal { color: black; }
.content { float: left; width: 70%; padding: 5px; margin: 5px; }
.highlight { font-weight: bold; color: #e35a37; }
a:link, a:visited { text-decoration: underline; font-weight: bold; color: #506511; }
.info { padding-left: 10px; padding-bottom: 10px; padding-right: 10px; padding-top: 5px; min-width: 200px; margin: 10px; background-color: #e35a37; float: right; }
.info h3 { font-size: 1em; text-align: center; }
.info #user { float: left; }
.info #points { float: right; }
a.infoL:link, a.infoL:visited { font-style: normal; font-weight: normal; text-decoration: underline; color: white; }
.claim { float: right; }
#linkslist { margin: 5px; padding: 5px; }
/*color:blue;*/